<div class="col-md-6 col-md-offset-3" ng-controller="welcomeCtrl">
	<div align='right'><a href="/#/loginUser" class="btn btn-link">LogOut</a></div>
			
	<form name="imageUploadForm" novalidate class="form-group">
			<div >
    			 <img ng-src="styles/pingu.jpg"></img>
			</div> 
		<!-- 	<div >
				<label for="email" class="control-label" >Email</label>
				<input type="email" name="email" class="form-control" ng-model="user.email" required/>
				<p ng-show="imageUploadForm.email.$invalid && imageUploadForm.email.$dirty ">Wrong email</p> 
			</div>


			<div >
				<label for="Upload  Profile picture" class="control-label" >Upload  Profile picture</label>
				<input type="file" name="imageFile" class="form-control" file-model="user.imageFile" required/>
			</div>
			<div class="form-actions">
            	<button type="submit"   ng-click="uploadFiles()" class="btn btn-primary">Upload Image</button>
            </div> -->

         	

</form>
</div>
 

